.body{
    margin: 0;
    padding: 0;
    font-family: 'Verdana';
    background-color: #f0f0f0;
    color:#303030
}

p{
    font-family: "Verdana";
}

.live-stream{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar{
    height: 100%;
    width: 250px;
    padding: 20px;
    padding-top: 50px;
}
.sidebar-menu{
    margin-top: 25px;
    border-top: #6b6b6b 3px solid; 
}
.menu-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 10px;
}
.menu-item:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}

.icon{
    font-size: 30px;
    color: #303030;
}

.sidebar-option-title{
    font-size: 20px;
    font-family: 'Verdana';
    color: #303030;
}

.transparent{
    background-color: transparent;
    border: none;
}

.collapsible{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 40px;
    height: 40px;
}

